* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-heading {
  width: 100%;
  padding: 30px 20px;
  background-color: violet;
  display: flex;
  justify-content: flex-end;
}

.box-heading > :first-child{
  margin-right: auto;
}

.box1 {
  width: 140px;
  height: 70px;
  margin: 0 10px;
  background-color:pink;
}

.box-main {
  display: flex;
  justify-content: center;
}

.box-left {
  width: 300px;
  background-color: palegreen;
}

.box-right {
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box3 {
  height: 130px;
  flex-basis: 200px;
  margin: 10px;
  background-color: yellow;
}

.footer {
  width: 100%;
  padding: 20px;
  background-color: #52a1ff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box4 {
  height: 40px;
  width: 45%;
  max-width: 600px;
  margin: 10px;
  background-color: mediumturquoise;
}

